QCheckBox {
     spacing: 0px;
     border: null;
     color: #323334;
}
QCheckBox::indicator {
     width: 0;
     height: 12px;
     background-color: transparent;
}
QCheckBox:checked {
     color: #2ba2df;
}
QCheckBox:unchecked {
     color: #323334;
}