QWidget#PathPoint {
    background-color: #595b5d;
    border-radius: 10px;
    border: 2px solid #4285f4;
}

QWidget#PathPoint:focus {
    border: 2px solid cyan;
}

QWidget#PathPoint[selected="true"] {
    border: 2px solid #f36127;
}