QPushButton{
    border: 2px solid #02ac1c;
    background-color: #2b2b2b;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

QPushButton::hover{
    background-color: #fe0000;
}