QCheckBox {
    spacing: 0;
    border: 1px solid white;
    border-radius: 3px;
}

QCheckBox:indicator {
    margin: 2px;
    width: 10px;
    height: 10px;
    border-radius: 3px;
}

QCheckBox:indicator:checked {
    image: url(%1);
}

QCheckBox:indicator:unchecked {
    background-color: transparent;
}