QListWidget {
    background-color: transparent;
    font-weight: bold;
}

QListWidget::item {
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 2px;
}

QListWidget::item:selected {
    background-color: #3592c4;
}

QListWidget::item:hover {
    border: 1px solid #f36127;
}