QCheckBox {
     spacing: 0px;
     border: null;
     color: #323334;
}

QCheckBox::indicator {
     width: 0;
     height: 12px;
     background-color: transparent;
}

QCheckBox:checked {
     color: #499c54;
}

QCheckBox:unchecked {
     color: #dadcdd;
}