QWidget {
    background-color: white;
    border-radius: 5px;
}

QWidget#TableNode {
    border: 1px solid #bbbdbe;
}

QWidget#TableNode:focus {
    border: 2px solid black;
}

QWidget#TableNode[selected="true"] {
    border: 2px solid #f35c23;
}